<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a
                    class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                    href="#"
                    data-bs-toggle="dropdown"
                >
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a
                    class="nav-link dropdown-toggle d-none d-sm-inline-block"
                    href="#"
                    data-bs-toggle="dropdown"
                >
                    <span class="text-dark"><%= authUser.fullname %></span>
                    <img
                        <% if(authUser.image) { %>
                        src="<%= authUser.image %>"
                        alt="<%= authUser.fullname %>"
                        style="object-fit: cover;"
                        <% } else { %>
                        src="/assets/img/user-default.jpg"
                        alt=""
                        <% } %>
                        class="avatar img-fluid rounded-circle ms-2"
                    />
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a
                        class="dropdown-item"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#userDetail"
                        ><i class="align-middle me-1" data-feather="user"></i>
                        Profile</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                        class="dropdown-item"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#logoutAction"
                        ><i class="align-middle me-1" data-feather="log-out"></i>
                        Log out</a
                    >
                </div>
            </li>
        </ul>
    </div>
</nav>
