<footer class="bg-white border-t border-gray-200 py-6 mt-16">
    <div class="container mx-auto px-4 max-w-6xl">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <p class="text-gray-500 text-sm">&copy; <%= new Date().getFullYear() %> DevBlog. All rights reserved.</p>
            <div class="flex space-x-6 mt-4 md:mt-0">
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-600">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
