<footer class="py-5">
    <div class="container-md col-lg-9 col-xxl-8">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p class="small">&copy; 2025 LØSTPEØPLE. All rights reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-instagram"></i></a></li>
                <li class="list-inline-item"><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>