<!-- Page content-->
<div class="container-md col-lg-10 col-xxl-9 my-4">
    <div class="row justify-content-center">
        <div class="col-lg-1"></div>

        <!-- Main content -->
        <div class="col-lg-7">
            <main class="rounded-4 bg-body border p-3 py-lg-4 px-lg-5">
                <section class="hero mt-5 text-center">
                    <img src="/assets/img/author.jpg" alt="devchamploo" class="rounded-circle img-thumbnail mb-3 about-gper-image" />
                    <h2 class="fs-5 fw-bolder mb-1">Umam Alfarizi</h2>
                    <p class="small-2 text-body-secondary fst-italic px-3 px-md-5">Infomatics Student | Web Developer</p>
                    <div class="social-link mt-3">
                        <a class="p-2 bg-body-secondary rounded-5 text-body-secondary text-decoration-none mx-md-1 large-3" href="mailto:alfariziuchiha@gmail.com" target="_blank">
                            <i class="bi bi-envelope"></i></a>
                        <a class="p-2 bg-body-secondary rounded-5 text-body-secondary text-decoration-none mx-md-1 large-3" href="https://github.com/devChampl00" target="_blank">
                            <i class="bi bi-github"></i></a>
                        <a class="p-2 bg-body-secondary rounded-5 text-body-secondary text-decoration-none mx-md-1 large-3" href="https://id.linkedin.com/in/umam-alfarizi" target="_blank">
                            <i class="bi bi-linkedin"></i></a>
                        <a class="p-2 bg-body-secondary rounded-5 text-body-secondary text-decoration-none mx-md-1 large-3" href="https://facebook.com/ummalfarizi" target="_blank">
                            <i class="bi bi-facebook"></i></a>
                        <a class="p-2 bg-body-secondary rounded-5 text-body-secondary text-decoration-none mx-md-1 large-3" href="https://instagram.com/ummalfarizi" target="_blank">
                            <i class="bi bi-instagram"></i></a>
                    </div>
                </section>

                <div class="pt-5">
                    <ul class="nav contact-nav small mt-5 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-body-secondary text-center px-4 active" id="about-btn" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body-secondary text-center px-4" id="contact-btn" href="#">Contact</a>
                        </li>
                    </ul>
                </div>

                <section class="my-4 pt-3" id="about-section">
                    <div class="row">
                        <h3 class="fw-bolder fs-5">About me</h3>
                        <div class="about mt-3">
                            <p>I'm a web developer with a passion for technology, programming, and sharing experiences. This blog is a place for me to express my ideas, learn new things, and interact with like-minded communities. When I'm not writing or developing projects, I like to read books (i mean manga hehe) and watch some movies. On the other hand, I also love sports like football or even workout litle bit. I would also love for you to invite me to play chess.</p>
                        </div>
                    </div>
                </section>

                <section class="my-4 pt-3 d-none" id="contact-section">
                    <div class="row mb-3">
                        <h3 class="fw-bolder fs-5 mb-2">Contact Me</h3>
                        <p class="pe-md-5 small">If there is anything wrong and you have any suggestion or some question, please feel free to contact me.</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- alert -->
                            <div class="alert alert-success alert-dismissible rounded-4 fade d-none" role="alert" id="alert">
                                <strong>Success!</strong> Thanks for your message!
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <!-- alert warning -->
                            <div class="alert alert-danger alert-dismissible rounded-4 fade d-none" role="alert" id="alert-danger">
                                <strong>Failed!         </strong> Check your internet connection!
                                <a href="">Reload</a>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                            <form name="contact-form">
                                <div class="mb-4">
                                    <label for="name" class="form-label small fw-semibold">Fullname<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control text-body-secondary shadow-none" id="name" name="name" required />
                                    <div id="name-validation" class="invalid-feedback"></div>
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="form-label small fw-semibold">Email Address<span class="text-danger">*</span></label>
                                    <input type="email" class="form-control text-body-secondary shadow-none" id="email" name="email" required />
                                    <div id="email-validation" class="invalid-feedback"></div>
                                </div>
                                <div class="mb-4">
                                    <label for="message" class="form-label small fw-semibold">Your Message<span class="text-danger">*</span></label>
                                    <textarea class="form-control text-body-secondary shadow-none" rows="5" id="message" name="message" required></textarea>
                                    <div id="message-validation" class="invalid-feedback"></div>
                                </div>
                                <button type="submit" class="btn btn-dark w-100" id="button">Submit</button>
                            </form>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <div class="col-lg-1"></div>
    </div>
</div>


<script>
    try {
        const aboutBtn = document.getElementById('about-btn')
        const contactBtn = document.getElementById('contact-btn')
        const aboutSection = document.getElementById('about-section')
        const contactSection = document.getElementById('contact-section')

        aboutBtn.onclick = (e) => {
            e.preventDefault()

            aboutBtn.classList.add('active')
            aboutSection.classList.remove('d-none')
            contactBtn.classList.remove('active')
            contactSection.classList.add('d-none')
        }
        contactBtn.onclick = (e) => {
            e.preventDefault()

            contactBtn.classList.add('active')
            contactSection.classList.remove('d-none')
            aboutBtn.classList.remove('active')
            aboutSection.classList.add('d-none')
        }
    } catch (error) {
        console.log(error)
    }

    // Contact form
    try {
        const scriptURL =
            'https://script.google.com/macros/s/AKfycbzt54iJ4fwGDJEbR2ds7jIIXrlaaenojLz2-S-4sy1SGe5bv0LNviy_CYrV6Whw57k/exec'
        const form = document.forms['contact-form']
        const input = {
            name: document.querySelector('#name'),
            email: document.querySelector('#email'),
            message: document.querySelector('#message')
        }
        let nameValidation = null
        let emailValidation = null
        let messageValidation = null
        const button = document.querySelector('#button')
        const alert = document.querySelector('#alert')
        const alertFailed = document.querySelector('#alert-danger')

        form.addEventListener('submit', (e) => {
            e.preventDefault()

            button.innerHTML = 'Loading...'
            button.setAttribute('disabled', '')

            if (!input.name.value.length) {
                nameValidation = 'Fullname is required'
            } else if (input.name.value.length < 5) {
                nameValidation = 'Fullname should not less then 5 chars'
            } else if (input.name.value.length > 50) {
                nameValidation = 'Fullname should not more then 50 chars'
            } else {
                nameValidation = null
            }
            if (nameValidation) {
                input.name.classList.add('is-invalid')
                document.querySelector('#name-validation').innerHTML =
                    nameValidation
            } else {
                input.name.classList.remove('is-invalid')
            }

            if (!input.email.value.length) {
                emailValidation = 'Email is required'
            } else {
                emailValidation = null
            }
            if (emailValidation) {
                input.email.classList.add('is-invalid')
                document.querySelector('#email-validation').innerHTML =
                    emailValidation
            } else {
                input.email.classList.remove('is-invalid')
            }

            if (!input.message.value.length) {
                messageValidation = 'Message is required'
            } else if (input.message.value.length < 10) {
                messageValidation = 'Message should not less then 10 chars'
            } else if (input.message.value.length > 750) {
                messageValidation = 'Message should not more then 750 chars'
            } else {
                messageValidation = null
            }
            if (messageValidation) {
                input.message.classList.add('is-invalid')
                document.querySelector('#message-validation').innerHTML =
                    messageValidation
            } else {
                input.message.classList.remove('is-invalid')
            }

            if (nameValidation || emailValidation || messageValidation) {
                button.innerHTML = 'Submit'
                button.removeAttribute('disabled')
                return
            } else {
                fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                    .then((response) => {
                        console.log(response)

                        alert.classList.add('show')
                        alert.classList.remove('d-none')
                        button.innerHTML = 'Submit'
                        button.removeAttribute('disabled')
                        form.reset()
                    })
                    .catch((error) => {
                        console.error('Error!', error.message)

                        alertFailed.classList.add('show')
                        alertFailed.classList.remove('d-none')
                        button.innerHTML = 'Submit'
                        button.removeAttribute('disabled')
                    })
            }
        })
    } catch (error) {
        console.log(error)
    }
</script>
