/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
.post-body {
    /* font-family: "Roboto", serif; */
    /* font-family: "PT Serif", serif; */
    font-family: "Source Sans 3", serif;
    /* font-family: "Merriweather", serif; */
    /* font-family: "Lora", serif; */
    /* font-family: "Nunito", serif; */
}

body {
    font-family: 'Inter', sans-serif;
}

.large-4 {
    font-size: 1.25em;
}
.large-3 {
    font-size: 1.1em;
}
.large-2 {
    font-size: 1em;
}
.large-1 {
    font-size: 0.975em;
}
.large {
    font-size: 0.968em;
}
.medium {
    font-size: 0.95em;
}
.small-1 {
    font-size: 0.925em;
}
.small-2 {
    font-size: 0.9em;
}
.small-3 {
    font-size: 0.875em;
}
.small-4 {
    font-size: 0.85em;
}
.small-5 {
    font-size: 0.825em;
}
.small-6 {
    font-size: 0.8em;
}
.small-7 {
    font-size: 0.775em;
}
.small-8 {
    font-size: 0.75em;
}

.form-control {
    border-radius: var(--bs-border-radius-xl) !important;
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    padding: 0.4rem 1rem !important;
    box-shadow: none !important;
    font-size: 0.875rem;
    min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
}
.form-control:focus {
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
    border-color: var(--bs-dark-color);
}

.form-select {
    border-radius: var(--bs-border-radius-xl) !important;
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    padding: 0.4rem 1rem !important;
    box-shadow: none !important;
    font-size: 0.875rem;
    min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
}
.form-select:focus {
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
    border-color: var(--bs-dark-color);
}

.btn {
    border-radius: var(--bs-border-radius-xl);
    --bs-text-opacity: 1;
    padding: 0.4rem 1.3rem;
    box-shadow: none;
    font-size: 0.875rem;
    min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
}

.btn:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

.category-nav .nav-link:hover {
    /* background-color: rgba(
        var(--bs-secondary-bg-rgb),
        var(--bs-bg-opacity)
    ) !important; */
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    text-decoration: underline;
}

.breadcrumb-link:hover {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    text-decoration: underline;
}

.category-nav .active {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    text-decoration: underline;
}

.dropdown .active {
    background-color: rgba(
        var(--bs-secondary-bg-rgb),
        var(--bs-bg-opacity)
    ) !important;
    border-radius: 50px;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.dropdown .dropdown-item:hover {
    background-color: rgba(
        var(--bs-secondary-bg-rgb),
        var(--bs-bg-opacity)
    ) !important;
    border-radius: 50px;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.post img {
    width: 100%;
    aspect-ratio: 16 / 7;
    object-fit: cover;
}

.post:hover {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15) !important;
}

.page-link:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

.gper-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 40%;
}

.widget-link:hover {
    background-color: rgba(
        var(--bs-secondary-bg-rgb),
        var(--bs-bg-opacity)
    ) !important;
    border-radius: 50px;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.post-title {
    /* font-family: 'Roboto'; */
    /* letter-spacing: 0.2; */
    font-weight: 850;
}

.post-thumbnail {
    width: 100%;
    min-height: 275px;
    max-height: 345px;
    object-fit: cover;
}

/* .share {
    margin-top: 10.25rem;
} */

.share-link:hover {
    background-color: rgba(
        var(--bs-secondary-bg-rgb),
        var(--bs-bg-opacity)
    ) !important;
    border-radius: 50px;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    padding: 5px;
}

.author-post-thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.tag-link:hover {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

.about-gper-image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: 50% 40%;
}

.contact-nav .nav-link:hover {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    border-bottom: 1.5px solid rgba(var(--bs-dark-rgb));
    font-weight: 500;
}

.contact-nav .active {
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    border-bottom: 1.8px solid rgba(var(--bs-dark-rgb));
    font-weight: 456;
}

.my-form {
    width: 345px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-alert {
    width: 345px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-close:namaaction {
    /* box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important; */
    /* border-color: var(--bs-dark-color); */
    border: 0 !important;
}

.header-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Layar HP */
@media (max-width: 500px) {
    .post img {
        min-height: 200px;
        max-height: 250px;
        object-fit: cover;
    }
    .post-thumbnail {
        width: 100%;
        min-height: 200px;
        max-height: 250px;
        object-fit: cover;
    }
    .my-form {
        min-width: 90%;
    }
    .login-alert {
        min-width: 90%;
    }
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    color: white;
    transition: all 0.3s;
}
.sidebar a {
    color: white;
}
.content {
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s;
}
.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}
.btn-primary:hover {
    background-color: #23272b;
    border-color: #1d2124;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
    }
    .content {
        margin-left: 0;
    }
}
